.navbar-title:hover > .icon-line {
  animation-duration: 600ms;
  animation-name: line-expand;
}

@keyframes line-expand {
  from {
    width: 0%;
  }
  
  to {
    width: 100%;
  }
}

#title-block-header.quarto-title-block.default .quarto-title .title {
  margin-bottom: 1rem;
}

#title-block-header.quarto-title-block.default .description > p:last-of-type, #title-block-header.quarto-title-block.default .abstract > p:last-of-type {
  margin-bottom: 1rem;
}

#quarto-margin-sidebar .quarto-listing-category {
  font-size: 0.8rem;
}

div.listing-description {
  font-size: 0.875rem;
}

div.quarto-post .body .listing-subtitle {
  font-size: 1.2rem;
}

.quarto-grid-item .card-title {
    margin-bottom: .5em;
}

/*
// left align edge of callout block with text
// without this, text inside callout block is left aligned with body text,
// which maybe looks better?
div.callout.callout {
  margin-left: 0;
}
*/

code span.cf {
  font-weight: normal;
}

.top-callout {
  margin-top: 0;
}

.profile-pic {
  border-radius: 5px;
}

/*
#quarto-content a {
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid;
}

#TOC > ul > li a {
  border-bottom: 0 !important;
}

div.toc-actions a {
  border-bottom: 0 !important;
}

div.quarto-listing a {
  border-bottom: 0 !important;
}

a.anchorjs-link {
  border-bottom: 0 !important;
}
*/



