/*-- scss:defaults --*/

// use litera as the base
// https://github.com/thomaspark/bootswatch/tree/v5/dist/litera
$theme: "litera" !default;

@import url(https://fonts.googleapis.com/css?family=Fira+Mono&display=swap);
@import url(https://fonts.googleapis.com/css?family=Jost&display=swap);

@font-face {
  font-family: 'LEMONMILKPro-Regular';
  src: local('LEMONMILKPro-Regular'), url('fonts/LEMONMILKPro-Regular.woff2') format('woff2'), url('fonts/LEMONMILKPro-Regular.woff') format('woff');
}

@font-face {
  font-family: 'LEMONMILKPro-Light';
  src: local('LEMONMILKPro-Light'), url('fonts/LEMONMILKPro-Light.woff2') format('woff2'), url('fonts/LEMONMILKPro-Light.woff') format('woff');
}

// fonts
$font-family-sans-serif: "LEMONMILKPro-Light", Jost, Helvetica, sans-serif !default;
$font-family-monospace: "Fira Mono", monospace;
$headings-font-family: "LEMONMILKPro-Regular", Jost, Helvetica, sans-serif !default;

// litera bootswatch theme colors
/*
$white:    #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #ddd !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;
$black:    #000 !default;
*/

// warmer grays (hue 240)
$white:    #fff !default;
$gray-100: #F8F8FA !default;
$gray-200: #E9E9EF !default;
$gray-300: #DCDCE6 !default;
$gray-400: #CECEDA !default;
$gray-500: #ADADBD !default;
$gray-600: #868696 !default;
$gray-700: #494957 !default;
$gray-800: #343440 !default;
$gray-900: #212129 !default;
$black:    #000 !default;


/*
$blue:    #4582ec !default;
$indigo:  #6610f2 !default;
$purple:  #6f42c1 !default;
$pink:    #e83e8c !default;
$red:     #d9534f !default;
$orange:  #fd7e14 !default;
$yellow:  #f0ad4e !default;
$green:   #02b875 !default;
$teal:    #20c997 !default;
$cyan:    #17a2b8 !default;
*/

//  my colors (comment out above)
$pink: #D4006A;
$blue: #006AD4;
$green: #00D46A;
$cyan: #00D4D4;
$red: #D40000;
$indigo: #0000D4;
$purple: #6A00D4;
$orange: #D46A00;
$yellow: #D4D400;

$primary:       $green !default;
$secondary:     $gray-400 !default;
$success:       $green !default;
$info:          $cyan !default;
$warning:       $orange !default;
$danger:        $red !default;
$light:         $gray-100 !default;
$dark:          $gray-900 !default;

// font sizes;
$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`
$h1-font-size:                $font-size-base * 2.5 !default;
$h2-font-size:                $font-size-base * 2 !default;
$h3-font-size:                $font-size-base * 1.75 !default;
$h4-font-size:                $font-size-base * 1.5 !default;
$h5-font-size:                $font-size-base * 1.25 !default;
$h6-font-size:                $font-size-base !default;


// colour tweaks to theme
// to make it dark
$body-bg: $dark;
$body-color: $light;
$navbar-bg: $body-bg;
$navbar-fg: $body-color;
$code-bg: $dark;
$code-color: $cyan;

// font size tweaks - adjust to make Fira Mono same size as Lemon Milk Light
$code-font-size: $font-size-base;

h1 code {
  font-size: $h1-font-size;
}

h2 code {
  font-size: $h2-font-size;
}

h3 code {
  font-size: $h3-font-size;
}

h4 code {
  font-size: $h4-font-size;
}

h5 code {
  font-size: $h5-font-size;
}

h6 code {
  font-size: $h6-font-size;
}


// callouts
$callout-color-note: $blue;
$callout-color-tip: $green;
$callout-color-caution: $purple;
$callout-color-warning: $orange;
$callout-color-important: $red;



/*-- scss:rules --*/

.icon-link, div.quarto-about-jolla .about-link {
    background-color: transparent;
    color: $primary;
    border: 2px solid;
    border-color: $primary;
    padding: 5px .4rem 5px .4rem;
    margin-top: 4px;
    margin-right: 8px;
    margin-bottom: 4px;
    border-radius: 5px; 
    display: inline-block;
    text-decoration: none;
}

.icon-link:hover, div.quarto-about-jolla .about-link:hover{
    background-color: $primary;
    border-color: $primary;
    color: $body-bg;
    text-decoration: none;
}
  
pre.sourceCode {
  border-radius: 0;
  border-left-color: $gray-700;
}

.navbar-brand > img {
  max-height: 60px;
  width: auto;
  //margin-top: 18px;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
  color: $primary;
}

a {
  color: $body-color;
  text-underline-position: under;
}

a:hover {
  color: $primary;
}

/*
.navbar-brand > img {
  max-height: 60px;
  width: 78px;
  //margin-top: 18px;
}
*/

.navbar-brand > img {
  width: 0px;
  height: 0px;
  padding: 30px 39px;
  background: url("ELLAKAYE-logo-dark.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.icon-line {
  display: block;
  background: $primary;
  width: 100%;
  height: 5px;
  margin: auto;
  display: table;
  margin-top: -4px;
  margin-bottom: -4px;
}

// navbar link animation
// come back to this...
// https://codingyaar.com/responsive-bootstrap-navbar-underline-animation/.navbar-expand-lg 
/*
.navbar-nav .nav-link:hover {
  text-decoration: underline;
  text-decoration-color: $primary;
}
*/

// header styles
#quarto-header {
  text-transform: uppercase;
  font-family: "LEMONMILKPro-Regular", Jost, Helvetica, sans-serif;
}

h1, h2, h3 {
  text-transform: uppercase;
}
